@import "tailwindcss";

@layer base {
  :root {
    --background: #eee8d5;
    --foreground: #586e75;

    --primary: #073642;
    --on-primary: #eee8d5;

    --secondary: #2aa198;
    --on-secondary: #eee8d5;

    --tertiary: #268bd2;
    --on-tertiary: #fdf6e3;

    --surface: #fdf6e3;
    --on-surface: #586e75;

    --error: #dc322f;
    --on-error: #000000;

    &[data-theme="ember-dark"] {
      --background: #16130f;
      --foreground: #a39a90;

      --primary: #6d8257;
      --on-primary: #dbd6d1;

      --secondary: #6d5782;
      --on-secondary: #16130f;

      --tertiary: #576d82;
      --on-tertiary: #a39a90;

      --surface: #dbd6d1;
      --on-surface: #16130f;

      --error: #dc322f;
      --on-error: #000000;
    }

    &[data-theme="moonfly"] {
      --background: #080808;
      --foreground: #bdbdbd;

      --primary: #323437;
      --on-primary: #bdbdbd;

      --secondary: #8f3f71;
      --on-secondary: #bdbdbd;

      --tertiary: #cf87e8;
      --on-tertiary: #eee8d5;

      --surface: #949494;
      --on-surface: #080808;

      --error: #ff5d5d;
      --on-error: #000000;
    }
  }
}


/* Got this from the alpine ajax docs, idk  */
[aria-busy] {
  --loading-size: 35px;
  --loading-stroke: 6px;
  --loading-duration: 1s;
  position: relative;
  opacity: .75
}

[aria-busy]:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--loading-size);
  height: var(--loading-size);
  margin-top: calc(var(--loading-size) / 2 * -1);
  margin-left: calc(var(--loading-size) / 2 * -1);
  border: var(--loading-stroke) solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: rotate calc(var(--loading-duration)) linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
}


@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-lg font-semibold transition-colors duration-200 hover:opacity-80 hover:cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary text-on-primary;
  }

  .btn-secondary {
    @apply bg-secondary text-on-secondary;
  }

  .input {
    @apply px-4 py-2 rounded-lg bg-transparent text-foreground placeholder-gray-400 outline-none border border-primary focus:border-tertiary transition duration-200;
  }


  .card {
    @apply p-6 rounded-xl bg-[var(--surface)] text-[var(--on-surface)] shadow-md;
  }

  .tab {
    @apply p-2 rounded-t-lg hover:bg-primary hover:text-on-primary hover:cursor-pointer transition-colors duration-300 bg-surface text-on-surface;
  }

  .tab-active {
    @apply bg-primary text-on-primary;
  }
}

html,
body {
  font-family:
    "Titillium Web",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
